@media only screen and (max-width: 414px) {
  .PaddingDiv {
    width: 90%;
  }
  .tableResponsive {
    /* table-layout: fixed;
    width: 1440px !important; */
    font-size: 80%;
    table-layout: fixed;
  }
  .pagingDiv {
    display: flex;
    justify-content: center;
  }
  .paging {
    font-size: 8px;
    text-align: center;
    width: 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .PaddingDiv {
    width: 85%;
  }
  .tableResponsive {
    font-size: 100%;
  }
  .pagingDiv {
    display: flex;
    justify-content: center;
  }
  .paging {
    font-size: 80%;
    width: 50px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  .PaddingDiv {
    width: 90%;
  }
  .tableResponsive {
    font-size: 100%;
  }
  .pagingDiv {
    display: flex;
    justify-content: center;
  }
  .paging {
    font-size: 80%;
    width: 50px;
  }
}

@media only screen and (min-width: 2500px) {
  .PaddingDiv {
    margin: auto;
    width: 90%;
  }
  .tableResponsive {
    font-size: 100%;
  }
  .pagingDiv {
    margin: auto;
    width: 50%;
  }
  .paging {
    font-size: 100%;
    text-align: center;
    width: 100px;
  }
}
